/* Century Schoolbook font is very similar to Computer Modern Math: cmmi */
.MATH    { font-family: "Century Schoolbook", serif; }
.MATH I  { font-family: "Century Schoolbook", serif; font-style: italic }
.BOLDMATH { font-family: "Century Schoolbook", serif; font-weight: bold }

/* implement both fixed-size and relative sizes */
SMALL.XTINY		{ font-size : xx-small }
SMALL.TINY		{ font-size : x-small  }
SMALL.SCRIPTSIZE	{ font-size : smaller  }
SMALL.FOOTNOTESIZE	{ font-size : small    }
SMALL.SMALL		{  }
BIG.LARGE		{  }
BIG.XLARGE		{ font-size : large    }
BIG.XXLARGE		{ font-size : x-large  }
BIG.HUGE		{ font-size : larger   }
BIG.XHUGE		{ font-size : xx-large }

/* heading styles */
H1		{  }
H2		{  }
H3		{  }
H4		{  }
H5		{  }

/* mathematics styles */
DIV.displaymath		{ }	/* math displays */
TD.eqno			{ }	/* equation-number cells */


/* document-specific styles come next */
PRE.preform		{   }
DIV.center		{   }
DIV.navigation		{   }
SPAN.textbf		{ font-weight: bold  }
SPAN.arabic		{   }
SPAN.textit		{ font-style: italic  }
SPAN.textsl		{ font-style: italic  }
/* arkusz stylu
      T.R. Werner, Oct 2003
   Last modified: July 2012
*/


h1,h2
{
 font-size:           135%;
 color:               #663300;
}


pre
{
 font-size:           75%;
 color:               #330000;
}


tt
{
 font-size:           100%;
 color:               #330000;
}

body
{
 /*background-color:    #ffffbb;*/
 /*background-color:    #ffffc0;*/
 background-color:    #ffffff;
/* color:               #663300; */
 color:               #000;
 font-size:           16pt;
 font-family:         arial, helvetica, sans-serif;
}


span.ding
{
 color:               #880000;
}
span.klucz
{
 color:               #000080;
 font-weight:         bold;
}
span.napis
{
 color:               #9e1e14;
 font-weight:         bold;
}
span.downl
{
 color:               #000088;
 font-family:         monospace;
 font-weight:         bold;
}
span.downlascii
{
 color:               #000088;
 font-family:         monospace;
 font-size:           smaller;
 font-weight:         bold;
}
span.klasa
{
 color:               #008500;
 font-weight:         bold;
}
span.plik
{
 color:               #d79000;
 font-family:         monospace;
 font-weight:         bold;
}
span.funkcja
{
 color:               #008800;
 font-weight:         bold;
}
span.program
{
 color:               #008800;
 font-weight:         bold;
}
span.typ
{
 color:               #008500;
 font-weight:         bold;
}
span.obiekt
{
 color:               #000000;
 font-style:          oblique;
 font-weight:         bold;
}
span.zmienna
{
 color:               #000000;
 font-style:          oblique;
 font-weight:         bold;
}
span.pakiet
{
 font-family:         monospace;
 color:               #88496e;
}
span.wsk
{
 color:               #aa0000;
}


a:link
{
 text-decoration:     underline;
 color:               #000088;
}
a:visited
{
 text-decoration:     underline;
 color:               #ff9900;
}
a:hover
{
 text-decoration:     underline;
 color:               #990000;
}
a:active
{
 text-decoration:     underline;
 color:               #ffffda;
}

address {
 color:               #663300;
}

div.dygresja
{
 background-color:    #dedede;
 color:               #c80073;
 border-style:        solid;
 border-width:        4px;
 /*border-color:      #ff2d00;*/
 border-left-color:   #ffffff;
 border-top-color:    #ffffff;
 border-right-color:  #b2b2b2;
 border-bottom-color: #b2b2b2;
 font-family:         sans-serif; /* nazwa lub serif,sans-serif,
                                     monospace,fantasy,cursive  */
 font-style:          normal;     /* normal, italic, oblique    */
 font-weight:         normal;
 font-size:           90%;
 width:               80%;
 float:               none;
 /*padding:             2%;*/
 padding-left:        5%;
 padding-right:       5%;
 padding-top:         1%;
 padding-bottom:      1%;
 margin-left:         5%;
 /*text-align:          center;*/
}

div.wazne
{
 background-color:    #ffffda;
 color:               #663300;
 border-style:        solid;
 border-width:        3px;
 /*border-color:      #ff2d00;*/
 border-left-color:   #cccc66;
 border-top-color:    #cccc66;
 border-right-color:  #999900;
 border-bottom-color: #999900;
 font-family:         sans-serif; /* nazwa lub serif,sans-serif,
                                     monospace,fantasy,cursive  */
 font-style:          normal;     /* normal, italic, oblique    */
 font-weight:         bold;
 font-size:           100%;
 width:               80%;
 float:               none;
 /*padding:             2%;*/
 padding-left:        5%;
 padding-right:       5%;
 padding-top:         1%;
 padding-bottom:      1%;
 margin-left:         5%;
 text-align:          center;
}

div.info
{
 background-color:    #d4d4ff;
 /*color:               #008000;*/
 color:               #c80073;
 border-style:        solid;
 border-width:        4px;
 /*border-color:        #ffff00;*/
 border-left-color:   #d4ffbd;
 border-top-color:    #d4ffbd;
 border-right-color:  #55e855;
 border-bottom-color: #55e855;
 font-family:         sans-serif; /* nazwa lub serif,sans-serif,
                                     monospace,fantasy,cursive  */
 font-style:          normal;     /* normal, italic, oblique    */
 font-weight:         normal;
 font-size:           80%;
 width:               20%;
 float:               right;
 padding:             2%;
 margin:              5px;
}

div.kodpro
{
 background-color:    #FFFFDA;
 color:               #663300;
 border-style:        solid;
 border-width:        5px;
 /*border-color:      #ff2d00;*/
 /*border-left-color:   #ffdfdf;
 border-top-color:    #ffdfdf;
 border-right-color:  #c79898;
 border-bottom-color: #c79898;*/
 border-left-color:   #cccc66;
 border-top-color:    #cccc66;
 border-right-color:  #999900;
 border-bottom-color: #999900;
 font-family:         monospace; /* nazwa lub serif,sans-serif,
                                     monospace,fantasy,cursive  */
 font-style:          normal;     /* normal, italic, oblique    */
 /*font-weight:         bold;*/
 font-size:           90%;
 width:               96%;
 float:               none;
 /*padding:             1%;*/
 padding-left:        1%;
 /*padding-right:       1%;
 padding-top:         2%;
 padding-bottom:      5%;*/
 margin-left:         1%;
 /*margin-right:         3%;
 text-align:          center;*/
}
